*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    
}

.navbar{
    padding: 0 8%;
    background: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 100px;
    height: 100%;
    padding: 7px 0;
    margin-bottom: 12px;
}
.list-lien{
    display: flex;
    gap: 40px;
    list-style: none;
}
.list-lien a{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.souli-1 a{
    position: relative;
    padding-bottom: 2px;
}
.souli-1 a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fac031;
    transition: width 0.3s ease;
}
.souli-1 a:hover::after{
    width: 100%;
}
.list-lien a:hover{
    color: #fac031;
    
}
/* section principale */
.section-principale{
    padding: 150px 8% 40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.text-principale{
    max-width: 700px;
}
.text-principale h1{
    font-size: 60px;

}
.text-principale h1 strong{
    font-family: mv boli;
    color: #fac031;
}
.text-principale p{
    font-size: 20px;
    margin: 30px 0 0 ;
}
.btn-principale {
    margin: 40px 0 0;
    background-color:#fac031;
    border-radius: 50px;
    padding: auto;
    color: white;
    font-size: 25px;
    padding: 10px 30px;
    display: inline-block;

}
.image-principale img{
    max-width: 100%;
    height: auto;
}
/* section about */
.section-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;

}
.text-about h2{
    font-size: 55px;
    
}
.text-about h2 strong{
    font-family: mv boli;
    color: #fac031;
}
.text-about h3{
    font-size: 33px;
    margin: 20px 0 0;
}
.text-about p{
    font-size: 18px;
    margin: 10px 0 0;
}
.image-about img{
    width:700px;
}
.btn-about{
    margin-top: 50px ;
    display: inline-block;
    /* margin-left: 60px; */
    margin-right: 100px;
    border-radius: 30px;
    background-color: #fac031;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
}
/* les menus */
.menu h1{
    text-align: center;
    font-size: 55px;
}
.menu h1 strong{
    color: #fac031;
    font-family: mv boli;
    text-decoration: underline;
}
.card-menu{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 6px 8px  gray;
}
.img-menu{
    position: relative;
}
.img-menu img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px 10px;
    transition: transform 0.4s ease,opacity 0.4s ease;
    display:block;
}
.card-menu:hover img {
    transform: scale(1.3);
}
.card-menu:hover .img-menu span{
    opacity: 1;
    color:black;
    transform: translateX(0);
}

.img-menu span{
    position: absolute;
    right: 23px; 
    top: 18px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.10s ease,transform 0.10 ease,color 0.10 ease;
    transform: translateX(10px);
    color: transparent;
    text-shadow: 0px 0px 6px black;
}
.grid-menu{
    padding: 2px 8%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap: 15px;
    
}
.menu{
    padding: 70px 3%;
}
.card-menu h2{
    color: #fac031;
    margin: 10px 0px;
    font-size:25px;
}
.card-menu p{
    font-size: 15px;
    margin: 5px 0px;
}
.card-menu h3{
    margin: 5px 0px;
    font-size: 20px;
}
.etoile{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #fac031;
    margin: 5px 0px
}
.btn-men{
    margin: 23px 0px 0px;
    border: thin black;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 7px 25px;
    font-size: 20px;
}
.seul{
    margin: 15px 0px;
}
.seule{
    margin:12px 0px ;
}
.btn-men:hover{
    background-color: #fac031;
}
/* menu2 */
.menu2{
    text-align: center;
    padding: 40px 10%;
    
}
.menu2 h1{
    font-size: 55px;

}
.menu2 h1 strong{
    color: #fac031;
    font-family: mv boli;
    text-decoration: underline;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px ;
}
.grid-menu2{
    width: 400px;
    height: 320px;
    position: relative;
    overflow: hidden; 
}
.grid-menu2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4 ease;
    z-index: 2000;
}
.overflay{
    position: absolute;
    inset: 0;
    z-index: 1;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.grid-menu2:hover .overflay{
    opacity: 1;
}
.overflay h3{
    font-size: 25px;
    color: #fac031;
}
.overflay p{
    margin: 25px 0px 0px ;
    font-size: 15px;
}
.overflay a{
    display: inline-block;
    margin: 25px 0px 0px;
    border: thin #fac031;
    background-color:#fac031;
    padding: 10px 20px;
    font-size: 15px;
    color:black;
}
/* members */
.member{
    padding: 40px 10%;
    text-align: center;
}
.member h1{
    font-size: 60px;
}
.member h1 strong{
    color: #fac031;
    font-family: mv boli;
    text-decoration: underline;
}
.list-card{
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 60px 0 0;
}
.cardm{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0  6px black;
    width: 350px;
    height: 480px;
    border-radius: 5px;
    padding: 200px 0px;
    text-align: center;
    position: relative;
    /* overflow: visible; */
}
.icon-reseau{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease,transform 0.3s ease,margin 0.3s ease;
    transform: translateY(100%);
    bottom: 180px;
    font-size: 18px;
    
}
.cardm:hover .icon-reseau{
    opacity: 1;
    transform: translateY(0);
    margin: 0 0 10px;

}
.cardm:hover h2, .etoilem{
    /* margin: 0 0 20px; */
    transform: translateY(-10px);
}
.cardm p{
    margin: 35px 0px 0;
    font-size: 18px;

}
.cardm h2{
    font-size: 24px;
    margin: 10px 0 0 ;
    transform: translateY(0); 
    transition: transform 0.3s ease; 
}
.etoilem{
    display: flex ;
    color: #fac031;
    transform: translateY(0);
    transition: transform 0.3s ease;
    margin: 0 0 8px;

    
}
.cardm  img{
    border-radius: 100% ;
    border: thin gray;
    background: lightgray;
    position: absolute;
    transition: transform 0.4s ease;
    object-fit: cover;
    top: 0;
    z-index: 2;
    padding: 5px;
    display: block;
    margin: 8px 0 0;
    transform: translateY(0);
}
.cardm:hover img{
    transform: translateY(-60px);
}


/* order section */
.Order-section{
    padding: 100px 10%;
    
}
.Order-section h1{
    text-align: center;
    font-size: 55px;
    font-weight: 15px;

}
.Order-section h1 strong{
    color: #fac031;
    font-family: mv boli;
    text-decoration: underline;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(assets/images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 135%;
   
}
.img-order img{
    width: 590px;
    height: auto;
}
.champ{
    display: flex;
    flex-direction: column;

}
.order form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 13px;
   
   
    
}
.champ input{
    margin: 5px 0 0;
    padding: 7px;
    width: 250px;
    border-radius: 3px;
    height: 40px;
    background-color: #EEEEEE;
    border: 3px solid lightgray ;
    outline: none;
}
.champ input:focus{
    border-color: #fac031;

}
.order-btn{
    border: thin;
    background-color: #fac031;
    padding: 10px 30px;
    width: 150px;
    margin: 15px 0 0;
    color: white;
    font-size: 18px;
    
}
/* Team */
.team{
    padding: 50px 8%;
    
    background-image: url(assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: 1300px
}
.team h1{
    font-size: 55px;
    font-weight: 45px;
    text-align: center;
}
.team h1 strong{
    color: #fac031;
    font-family: mv boli;
}
.prof-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 35px;
    overflow: visible;
    transform: translateY(0);
    transition: transform 0.3s ease , border-radius 0.4s ease;
   
   
}
.prof-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    object-fit: cover;
    /* transform: translateY(0);
    transition: transform 0.3s ease , border-radius 0.4s ease; */
    box-shadow: 0 0 6px black;
}
/* .prof-img{
    padding: 35px;
} */
.flex-team{
    margin: 80px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    
    
}
.profil{
    border-radius: 100%;
    width: 280px;
    height: 280px;
    box-shadow: 0 0  8px black;
    position: relative;
    overflow: visible;
    transition: border-radius 0.4s ease;
}
.txt-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 40px;
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.4s ease,opacity 0.4s ease;

}
.profil:hover .txt-profil{
    opacity: 1;
    transform: translateY(20px);
}
.profil:hover .prof-img{
    transform: translateY(-105px);
    
}
.profil:hover {
    border-radius: 30px;
    
}
.profil:hover .prof-img img{
    border-radius: 30px;

}


.txt-profil h3{
    font-size: 25px;
    color: #fac031;
    margin-top: 15px ;
}
.txt-profil p{
    font-size: 15px;
    margin-top: 15px 0;
} 
.icon-profil{
    margin-top: 15px;
}
/* footer */
.flex-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 8% 10px;
    /* margin: 120px 0 0;
    border-radius: 5px;
    background-color: #EEEEEE;
    height: 300px; */
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.title h2{
    margin: 0px 0px 25px;
    font-size: 25px;

}
.vous{
    margin: 0 0 25px;
}
.vouss{
    margin: 0 0 50px;
}
.title p {
    margin: 10px 0 0;
}
footer{
    margin: 120px 0 0;
    border-radius: 5px;
    background-color: #EEEEEE;
    width: 100%;
}
.p{
    font-size: 16px;
    padding: 5px;
    text-align: center;
    
}
.p span{
    color: #fac031;
}
.title i{
    margin: 5px 0;
}
/* le pb etait le navigateur , maintenant le logo se trouve au centre comment faire qu'il soit le plus a gauche avec le hamburgeur uniquement */
/* Menu Hamburger */
#hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
@media(max-width:970px){
     #hamburger{
        position: relative;
        display: flex;
        margin-top: 10px;
        z-index: 150;
        font-size: 35px;
          
    }
    #hamburger.active{
        left: 0;
    }
    .souli-1{
        
        position: fixed;
        left: -100%;  
        top: 70px;  
        flex-direction: column;
        background-color: white;
        width: 200px; 
        height: 300px;
        padding: 20px;
        gap: 20px;
        transition: left 0.5s ease; 
        box-shadow: 6px 0 10px rgba(0,0,0,0.1);
        align-items: center;
        border-radius: 5px;
        /* z-index: 999; */
    }
    .souli-1.active{
        left: 0;
    }
    .navbar img{
        width: 100px;
        height: auto;
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }
    
    .list-lien:not(.souli-1){
        display: flex;
        gap: 20px;
        margin-top: 13px;
    }
    .list-lien:not(.souli-1) i{
        font-size: 25px;
    }
   
}

@media (max-width:1000px){
    .section-principale{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .text-principale h1 {
        font-size: 50px;
        white-space: nowrap;
    }
    .image-principale{
        margin-top: 50px;
    }
}
@media (max-width:1150px){
    .section-about{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .image-about{
        margin-top: 40px;
    }
    .image-about img{
        width: 450px;
        height: auto;
    }
}
@media(max-width:1350px){
    .menu{
        text-align: center;
    }
    .grid-menu{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .card-menu{
        margin-top: 40px;
    }
}
@media(max-width:1350px){
    .menu2{
        text-align: center;
    }
    .grid2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .grid-menu2{
        margin-top: 40px;
    }
}
@media(max-width:1200px){
    .member{
        text-align: center;
    }
    .list-card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .cardm{
        margin-top: 60px;
    }
}
@media(max-width:1250px){
    .Order-section a{
        text-align: center;
    }
    .order{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .img-order img{
        width: 390px;
        height: auto;
    }
    .order form{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    /* .order-btn{
        display: flex;
        align-items: center;
    } */
    
}
@media(max-width:1370px){
    .profil{
        margin-top:90px ;
    }
}
@media(max-width:1370px){
    .footer{
        width: 300px;
        height: auto;
    }
    .flex-foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}